.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.date-input {
  width: 50%;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.date-label {
  color: darkslategray;
  padding-top: 30px;
  padding-bottom: 10px;
}

.examples {
  font-size: 12px;
  padding-top: 20px;
}

.examples ul li {
  list-style: none;
  padding-bottom: 5px;
}

.error {
  color: red;
  font-size: 14px;
}

.result {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.availability-mic {
  padding: 0px 10px 0px 10px
}